section.catalog.block
    div.container
        div.catalog_wrapper
            h2 Каталог тварин
            div.line
            div.catalog_block
                div.catalog_block_up
                    a.catalog_item1(href="info_pig.html")
                        div.catalog_box1
                            div.catalog_underbox1
                                h3 Свині
                    a.catalog_item2(href="info_hen.html")
                        div.catalog_box2
                            div.catalog_underbox2
                                h3 Кури
                    a.catalog_item3(href="info_goose.html")
                        div.catalog_box3
                            div.catalog_underbox3
                                h3 Гуси
                div.catalog_block_down
                    a.catalog_item4(href="info_rabbit.html")
                        div.catalog_box4
                            div.catalog_underbox4
                                h3 Кролі
                    a.catalog_item5(href="info_duck.html")
                        div.catalog_box5
                            div.catalog_underbox5
                                h3 Качки
                    a.catalog_item6(href="info_quail.html")
                        div.catalog_box6
                            div.catalog_underbox6
                                h3 Перепілки