head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="theme-color" content="#3db5f1")

    link(rel="stylesheet" type="text/css", href="css/libs.min.css")
    link(rel="stylesheet" type="text/css", href="css/index.css")
    link(rel="stylesheet" type="text/css", href="fonts/fontawesome/css/all.css")
    link(rel="stylesheet" type="text/css", href="fonts/coolvetica/coolvetica.css")
    link(rel="stylesheet" type="text/css", href="fonts/gillsans/gillsans.css")