header.header#nav
    div.container
        div.header_wrapper
            div.header_up
                div.header_contact_social
                    a.header_contact_social_link(href="https://www.linkedin.com/")
                        i.fab.fa-linkedin-in.header_social_link
                    a.header_contact_social_link(href="https://www.facebook.com/")
                        i.fab.fa-facebook-f.header_social_link
                    //a.header_contact_social_link(href="https://twitter.com/?lang=ru")
                    //    i.fab.fa-twitter.header_social_link
                div.header_contact_mail
                    img(src="img/mail-black-envelope-symbol.png")
                    a(href='mailto:kombikorm.zt@gmail.com')
                        p.
                            kombikorm.zt@gmail.com
                div.header_contact_tel
                    img(src="img/phone-receiver.png")
                    a(href='tel:+380972627546')
                        p.
                            +38 097 262 75 46
                div.header_lang
                    div.header_lang_block
                        a(href='/') RUS
                        a(href='/') UKR
                        a(href='/') ENG
            div.header_down
                div.header_logo
                    a.header_logo_block(href='home.html')
                        img.header_logo_img(src='img/header_logo.png')
                div.container2
                    div#hamburger
                        span
                        span
                        span
                    div#close
                        span
                    div#menuWrapper
                        ul
                            li
                                a(href="product_catalog.html") Каталог продукції
                            li
                                a(href="manufacturer.html") Виробник
                            li
                                a(href="about_us.html") Блог
                            li
                                a(href="contact.html") Контакти
                            div.header_contact_mail_2
                                img(src="img/mail-black-envelope-symbol.png")
                                a(href='mailto:kombikorm.zt@gmail.com')
                                    p.
                                        kombikorm.zt@gmail.com
                            div.header_contact_tel_2
                                img(src="img/phone-receiver.png")
                                a(href='tel:+380972627546')
                                    p.
                                        +38 097 262 75 46
                            div.header_contact_social_2
                                a.header_contact_social_link(href="https://www.linkedin.com/")
                                    i.fab.fa-linkedin-in.header_social_link
                                a.header_contact_social_link(href="https://www.facebook.com/")
                                    i.fab.fa-facebook-f.header_social_link
                                a.header_contact_social_link(href="https://twitter.com/?lang=ru")
                                    i.fab.fa-twitter.header_social_link
                            div.header_lang_2
                                div.header_lang_block
                                    a(href='/') RUS
                                    a(href='/') UKR
                                    a(href='/') ENG