script(type="text/javascript" src="js/jquery3.4.1.min.js")
script(type="text/javascript" src="../js/libs.min.js")
script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrCowuJTsdKvY3G8k458uj7_VSLe7eO5Y")
script(type="text/javascript" src="js/common.js")