doctype html
html(lang="en")
    include ../includes/_head

    body.home
        include ../includes/_header
        main.main_content

            section.about_us__section_1
                div.container
                    div.about_us__section_1_wrapper
                        div.about_us__section_1_item2
                            h1 Блог
                img.about_us__section_1_img(src="img/about_us__img1.png")
            section.about_us__section_2.block
                div.about_us__section_2_item
                    figure.snip1208
                        img(src='img/info_img1.jpg' alt='sample66')
                        //.date
                        //    span.day 28
                        //    span.month Oct
                        //i.ion-film-marker
                        figcaption
                            h3 РОЗВЕДЕННЯ КУРЕЙ НЕСУЧОК
                            p Бройлери в домашніх умовах - це не тільки швидке якісне м'ясо, а й прибутковий...
                            button Читати далі
                        a(href='info_hen.html')
                    figure.snip1208.hover
                        img(src='img/info_img2.jpg' alt='sample9')
                        //.date
                        //    span.day 17
                        //    span.month Nov
                        //i.ion-headphone
                        figcaption
                            h3 Розведення свиней
                            p Бізнес з розведення свиней - актуальний напрямок для українських приватних...
                            button Читати далі
                        a(href='info_pig.html')
                    figure.snip1208
                        img(src='img/info_img3.jpg' alt='sample6')
                        //.date
                        //    span.day 01
                        //    span.month Dec
                        //i.ion-checkmark
                        figcaption
                            h3 Розведення качок
                            p Відгодівля качок на м’ясо в домашніх умовах — ще одна можливість, яка...
                            button Читати далі
                        a(href='info_duck.html')
                div.about_us__section_2_item
                    figure.snip1208
                        img(src='img/info_img4.jpg' alt='sample66')
                        //.date
                        //    span.day 28
                        //    span.month Oct
                        //i.ion-film-marker
                        figcaption
                            h3 Розведення гусей
                            p Українці гусей розводять з давніх давен. То що ж їх приваблює до цієї справи?
                            button Читати далі
                        a(href='info_goose.html')
                    figure.snip1208.hover
                        img(src='img/info_img5.jpg' alt='sample9')
                        //.date
                        //    span.day 17
                        //    span.month Nov
                        //i.ion-headphone
                        figcaption
                            h3 РОЗВЕДЕННЯ ПЕРЕПЕЛІВ
                            p Перепілки вважаються найменшими представниками домашнього...
                            button Читати далі
                        a(href='info_quail.html')
                    figure.snip1208
                        img(src='img/info_img6.jpg' alt='sample6')
                        //.date
                        //    span.day 01
                        //    span.month Dec
                        //i.ion-checkmark
                        figcaption
                            h3 Розведення кроликів
                            p Для отримання додаткового прибутку багато людей вважають за краще...
                            button Читати далі
                        a(href='info_rabbit.html')


        //include ../includes/_catalog
        include ../includes/_footer
        include ../includes/_scripts