doctype html
html(lang="en")
    include ../includes/_head

    body.home
        include ../includes/_header
        main.main_content
            include ../includes/_slider__home
            section.about_us__section_2.block
                div.container
                    div.about_us__section_2_wrapper
                        div.about_us__section_2__item2
                            h2 Lorem ipsum dolor sit amet, consectetur.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse magna tellus, malesuada tempor accumsan sit amet, lobortis quis dolor. Nulla non urna vitae ex blandit tristique.
                                | Vestibulum facilisis tincidunt orci, at maximus turpis mollis et. In in mattis ex. Suspendisse vehicula neque in dui lacinia, nec tincidunt lacus vulputate.
                                | Morbi bibendum eu lacus non molestie. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per
                                | conubia nostra, per inceptos himenaeos. Fusce rhoncus tincidunt urna a porttitor. Donec nulla urna, consequat vel justo ornare, aliquet placerat felis.
                                br
                                br
                                | Donec ac leo mauris. Maecenas lacus risus, dignissim ut molestie id, lacinia et tortor. Donec pellentesque ex nulla, eu tincidunt nibh pellentesque at. Aenean tincidunt
                                | dui ac posuere feugiat. Donec imperdiet turpis ligula, sit amet lobortis ex tristique vitae. Integer fringilla cursus velit sed fringilla. Vestibulum a varius risus.
                                | Sed elementum bibendum ornare. Fusce lobortis consectetur metus eget venenatis. Curabitur et pretium neque, quis malesuada sapien. Morbi vitae tellus sagittis,
                                | egestas orci consequat, consequat eros. Quisque lobortis imperdiet dolor posuere efficitur. Mauris sodales porttitor massa in condimentum. Suspendisse id convallis ligula.
                                br
                                br
                                | Donec vitae suscipit risus, vitae scelerisque urna. Ut tempor quam arcu, a elementum urna euismod at. Cras eleifend, augue non pharetra sagittis, mauris dui volutpat nisi, a euismod
                                | lectus orci vitae nulla. Sed pretium ligula lacinia nisi efficitur pretium.

            section.about_us__secion_3.block
                div.container
                    div.about_us__section_3_wrapper
                        h2 Чому обирають нас
                        div.line
                        div.about_us__section_3_element
                            div.about_us__section_3__item1
                                div.about_us__section_3__item1_block1
                                    div.about_us__section_3__item1_block1_image
                                        img(src="img/about_us__img3.png")
                                    h3 Наше бачення
                                div.about_us__section_3__item1_block2
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing
                                    | elit. Suspendisse magna tellus, malesuada tempor
                                    br
                                    | accumsan sit amet, lobortis quis dolor.
                            div.about_us__section_3__item2
                                div.about_us__section_3__item2_block1
                                    div.about_us__section_3__item2_block1_image
                                        img(src="img/about_us__img3.png")
                                    h3 Наше завдання
                                div.about_us__section_3__item2_block2
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing
                                        | elit. Suspendisse magna tellus, malesuada tempor
                                        br
                                        | accumsan sit amet, lobortis quis dolor.
                            div.about_us__section_3__item3
                                div.about_us__section_3__item3_block1
                                    div.about_us__section_3__item3_block1_image
                                        img(src="img/about_us__img3.png")
                                    h3 Наш підхід
                                div.about_us__section_3__item3_block2
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing
                                        | elit. Suspendisse magna tellus, malesuada tempor
                                        br
                                        | accumsan sit amet, lobortis quis dolor.
        include ../includes/_catalog
        include ../includes/_map
        include ../includes/_footer
        include ../includes/_scripts