doctype html
html(lang="en")
    include ../includes/_head

    body.home
        include ../includes/_header
        main.main_content

            section.prod_cat__section_1
                div.container
                    div.prod_cat__section_1_wrapper
                        div.prod_cat__section_1_item2
                            h1 КИЇВ-АТЛАНТИК УКРАЇНА
                img.about_us__section_1_img(src="img/about_us__img1.png")
            section.news_det__section_2.block
                div.container
                    div.news_det__section_2_wrapper
                        div.news_det__section_2_item1
                            img(src="img/kau_bg.jpg")
                        div.news_det__section_2_item2
                            div.news_det__section_2_item2_elem1
                                h3 КИЇВ-АТЛАНТИК УКРАЇНА
                                p КИЇВ-АТЛАНТИК УКРАЇНА (КАУ), дочірня компанія AGROLIFE GmbH,  є сучасним центром переробки зернових, який знаходиться приблизно в 100 кілометрах на південь від Києва, столиці України.
                                | Зернопереробний центр КАУ складається з елеватора для зберігання зернових потужністю 42 500 тонн та комбікормового заводу потужністю 90 000 тонн (насипом) / 40 000 тонн (фасованого корму) на рік, побудованого за передовою голандською технологією.
                                br
                                | Центр КАУ працює в режимі 24/7/365 та має власну високооснащенну сертифіковану лабораторію, яка повністю укомплектована кваліфікованим персоналом. Ми обслуговуємо місцевих фермерів більше 20 років, будуючи нашу репутацію як надійного партнера.
                                br
                                | У 2018 році КАУ придбала німецька бізнес-група AGROLIFE GmbH. За останні два роки КАУ пройшов повну реконструкцію та оновлення всіх основних виробничих потужностей. Наша головна мета – виняткова якість, що перевищує очікування клієнтів. Об’єкт пройшов сертифікацію HACCP та працює відповідно до найвищих стандартів ЄС.
                                br
                                | З новим керівництвом з’явились нові можливості розвитку, тому згідно з затвердженим Правлінням інвестиційним планом, буде побудовано дві черги нового комплексу з переробки та зберігання зерна протягом наступних п’яти років.
                            div.news_det__section_2_item2_elem2
                                img(src="img/kau_img1.jpg")
                div.news_det__section_2_item5
                   img(src="img/kau_img2.jpg")
                        


    include ../includes/_footer
    include ../includes/_scripts