doctype html
html(lang="en")
    include ../includes/_head

    body.home
        include ../includes/_header
        main.main_content

            section.prod_cat__section_1
                div.container
                    div.prod_cat__section_1_wrapper
                        div.prod_cat__section_1_item1
                            p
                                a(href="home.html") Главная
                                / Фармаконадзор
                        div.prod_cat__section_1_item2
                            h1 Фармаконадзор
                img.about_us__section_1_img(src="img/about_us__img1.png")
            section.pharma_watch__section_2.block
                div.container
                    div.pharma_watch__section_2_wrapper
                        div.pharma_watch__section_2_item1
                            h4.pharma_watch__section_2_item1_h Уважаемые клиенты, партнеры и потребители лекарственных средств производства ООО "Next Pharm"!
                                br
                                | Отдел фармакондзора компании собирает информацию о следующих случаях:
                            ul
                                li
                                    a(href="#") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                li
                                    a(href="#") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                li
                                    a(href="#") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                li
                                    a(href="#") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                li
                                    a(href="#") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                li
                                    a(href="#") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                li
                                    a(href="#") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        div.pharma_watch__section_2_item2
                            h4.pharma_watch__section_2_item2_h Для передачи информации, связанной с вышеупомянутыми случаями, а также для получения консультации по этим вопросам, пожалуйста, обращайтесь в отдел фармаконадзора ООО "Next Pharm"
                            div.pharma_watch__section_2_contact
                                div
                                    h4.pharma_watch__section_2_contact_h Адрес:
                                    h4.pharma_watch__section_2_contact_h Тел.:
                                    h4.pharma_watch__section_2_contact_h Факс:
                                    h4.pharma_watch__section_2_contact_h E-mail:
                                div
                                    p 03127, м. Київ, проспект Голосіївський, 132
                                    p (073) 427-88-41
                                    p (073) 427-88-41
                                    p
                                        a(href="mailto:office@ffd.com.ua") office@ffd.com.ua
                        div.pharma_watch__section_2_item3
                            h4.pharma_watch__section_2_item3_h Вся информация, которую Вы нам предоставляете, является конфиденциальной и не подлежит разглашению, за исключением случаев, предусмотренных законодательством.



        include ../includes/_catalog
        include ../includes/_footer
        include ../includes/_scripts