doctype html
html(lang="en")
    include ../includes/_head

    body.home
        include ../includes/_header
        main.main_content

            section.prod_cat__section_1
                div.container
                    div.prod_cat__section_1_wrapper
                        div.prod_cat__section_1_item1
                            nav#prod_cat__section_2_item1_nav
                                ul
                                    li.prod_cat__section_2_item1_nav_list
                                        a(href="#") Вся продукція
                                        ul
                                            li
                                                a(href="#broiler") Для бройлерів (та інших м'ясних видів птиці)
                                                ul
                                                    li
                                                        a(href="#") Стартер
                                                        ul
                                                            li
                                                                a(href="product_catalog__detail_mpk5-4.html") МПК 5-4
                                                            //li
                                                            //    a(href="#") Sub Deep 1
                                                            //li
                                                            //    a(href="#") Sub Deep 1
                                                            //li
                                                            //    a(href="#") Sub Deep 1
                                                    li
                                                        a(href="#") Гровер
                                                        ul
                                                            li
                                                                a(href="product_catalog__detail_mpk6-6.html") МПК 6-6
                                            li
                                                a(href="#hen") Для курей-несучок
                                                ul
                                                    li
                                                        a(href="#") Стартер
                                                        ul
                                                            li
                                                                a(href="product_catalog__detail_mpk2-6.html") МПК 2-6
                                                    li
                                                        a(href="#") Гровер
                                                        ul
                                                            li
                                                                a(href="product_catalog__detail_mpk3-4.html") МПК 3-4
                                                    li
                                                        a(href="#") Несучка
                                                        ul
                                                            li
                                                                a(href="product_catalog__detail_mpk1-18.html") МПК 1-18
                                            li
                                                a(href="#duck_goose") Для качок та гусей
                                                ul
                                                    li
                                                        a(href="#") Стартер
                                                        ul
                                                            li
                                                                a(href="product_catalog__detail_mpk21-1.html") МПК 21-1
                                                    li
                                                        a(href="#") Гровер
                                                        ul
                                                            li
                                                                a(href="product_catalog__detail_mpk22-1.html") МПК 22-1
                                            li
                                                a(href="#quail") Для перепелів
                                                ul
                                                    li
                                                        a(href="#") Несучка
                                                        ul
                                                            li
                                                                a(href="product_catalog__detail_mpk1-24.html") МПК 1-24
                                            li
                                                a(href="#rabbit") Для кролів
                                                ul
                                                    li
                                                        a(href="#") Гровер
                                                        ul
                                                            li
                                                                a(href="product_catalog__detail_mpk92-1.html") МПК 92-1
                                            li
                                                a(href="#pig") Для свиней
                                                ul
                                                    li
                                                        a(href="#") Стартер
                                                        ul
                                                            li
                                                                a(href="product_catalog__detail_mpk51-1.html") МПК 51-1
                                                    li
                                                        a(href="#") Гровер
                                                        ul
                                                            li
                                                                a(href="product_catalog__detail_mpk55-11.html") МПК 55-11
                                            li
                                                a(href="#concentrates") Концентрати
                                                ul
                                                    li
                                                        a(href="#") Універсальний для птиці
                                                        ul
                                                            li
                                                                a(href="product_catalog__detail_mkpu.html") МКПУ 10%
                                                        li
                                                            a(href="#") Універсальний для свиней
                                                            ul
                                                                li
                                                                    a(href="product_catalog__detail_mksu.html") МКСУ 10%
                        div.prod_cat__section_1_item2
                            h1 Каталог продукції
                img.about_us__section_1_img(src="img/about_us__img1.png")
            section.prod_cat__section_2.block
                div.container
                    div.prod_cat__section_2_wrapper
                        div.prod_cat__section_2_block
                            div.prod_cat__section_2_item1

                            //div.prod_cat__section_2_item2
                            //    div.prod_cat__section_2_item2_eng
                            //        p
                            //            a(href="#") Все
                            //        p
                            //            a(href="#") A
                            //        p
                            //            a(href="#") B
                            //        p
                            //            a(href="#") C
                            //        p
                            //            a(href="#") D
                            //        p
                            //            a(href="#") E
                            //        p
                            //            a(href="#") F
                            //        p
                            //            a(href="#") G
                            //        p
                            //            a(href="#") H
                            //        p
                            //            a(href="#") I
                            //        p
                            //            a(href="#") J
                            //        p
                            //            a(href="#") K
                            //        p
                            //            a(href="#") L
                            //        p
                            //            a(href="#") M
                            //        p
                            //            a(href="#") N
                            //        p
                            //            a(href="#") O
                            //        p
                            //            a(href="#") P
                            //        p
                            //            a(href="#") Q
                            //        p
                            //            a(href="#") R
                            //        p
                            //            a(href="#") S
                            //        p
                            //            a(href="#") T
                            //        p
                            //            a(href="#") U
                            //        p
                            //            a(href="#") V
                            //        p
                            //            a(href="#") W
                            //        p
                            //            a(href="#") X
                            //        p
                            //            a(href="#") Y
                            //        p
                            //            a(href="#") Z
                            //    div.prod_cat__section_2_item2_rus
                            //        p
                            //            a(href="#") Все
                            //        p
                            //            a(href="#") А
                            //        p
                            //            a(href="#") Б
                            //        p
                            //            a(href="#") В
                            //        p
                            //            a(href="#") Г
                            //        p
                            //            a(href="#") Д
                            //        p
                            //            a(href="#") Е
                            //        p
                            //            a(href="#") Ё
                            //        p
                            //            a(href="#") Ж
                            //        p
                            //            a(href="#") З
                            //        p
                            //            a(href="#") И
                            //        p
                            //            a(href="#") К
                            //        p
                            //            a(href="#") Л
                            //        p
                            //            a(href="#") М
                            //        p
                            //            a(href="#") Н
                            //        p
                            //            a(href="#") О
                            //        p
                            //            a(href="#") П
                            //        p
                            //            a(href="#") Р
                            //        p
                            //            a(href="#") С
                            //        p
                            //            a(href="#") Т
                            //        p
                            //            a(href="#") У
                            //        p
                            //            a(href="#") Ф
                            //        p
                            //            a(href="#") Х
                            //        p
                            //            a(href="#") Ц
                            //        p
                            //            a(href="#") Ч
                            //        p
                            //            a(href="#") Ш
                            //        p
                            //            a(href="#") Щ
                            //        p
                            //            a(href="#") Э
                            //        p
                            //            a(href="#") Ю
                            //        p
                            //            a(href="#") Я
            section.prod_cat__section_3
                div.container
                    div.spc.text-center.page-title
                    div.row
                        div.row_elem_1
                            a(name="broiler")
                            h1 Для бройлерів (та інших м'ясних видів птиці)
                            div.row_elem_1_link
                                div.col-md-4
                                    div.product-container
                                        div.product-image
                                            span.hover-link
                                            a.product-link(href="product_catalog__detail_mpk5-4.html") Детальніше
                                            img.img-responsive(src="img/prod_cat__img1.png")
                                        div.product-description
                                            div.product-label
                                                div.product-name
                                                    h1 МПК 5-4
                                                    p (Стартер)
                                            div.product-option
                                                div.product-size
                                                    p.price від 15.50 грн/кг
                                div.col-md-4
                                    div.product-container
                                        div.product-image
                                            span.hover-link
                                            a.product-link(href="product_catalog__detail_mpk6-6.html") Детальніше
                                            img.img-responsive(src="img/prod_cat__img1.png")
                                        div.product-description
                                            div.product-label
                                                div.product-name
                                                    h1 МПК 6-6
                                                    p (Гровер)
                                            div.product-option
                                                div.product-size
                                                    p.price від 14.25 грн/кг
                        div.row_elem_1
                            a(name="hen")
                            h1 Для курей-несучок
                            div.row_elem_1_link
                                div.col-md-4
                                    div.product-container
                                        div.product-image
                                            span.hover-link
                                            a.product-link(href="product_catalog__detail_mpk2-6.html") Детальніше
                                            img.img-responsive(src="img/prod_cat__img1.png")
                                        div.product-description
                                            div.product-label
                                                div.product-name
                                                    h1 МПК 2-6
                                                    p (Стартер)
                                            div.product-option
                                                div.product-size
                                                    p.price від 14.25 грн/кг
                                div.col-md-4
                                    div.product-container
                                        div.product-image
                                            span.hover-link
                                            a.product-link(href="product_catalog__detail_mpk3-4.html") Детальніше
                                            img.img-responsive(src="img/prod_cat__img1.png")
                                        div.product-description
                                            div.product-label
                                                div.product-name
                                                    h1 МПК 3-4
                                                    p (Гровер)
                                            div.product-option
                                                div.product-size
                                                    p.price від 11.75 грн/кг
                                div.col-md-4
                                    div.product-container
                                        div.product-image
                                            span.hover-link
                                            a.product-link(href="product_catalog__detail_mpk1-18.html") Детальніше
                                            img.img-responsive(src="img/prod_cat__img1.png")
                                        div.product-description
                                            div.product-label
                                                div.product-name
                                                    h1 МПК 1-18
                                                    p (Несучка)
                                            div.product-option
                                                div.product-size
                                                    p.price від 11.00 грн/кг
                        div.row_elem_1
                            a(name="duck_goose")
                            h1 Для качок та гусей
                            div.row_elem_1_link
                                div.col-md-4
                                    div.product-container
                                        div.product-image
                                            span.hover-link
                                            a.product-link(href="product_catalog__detail_mpk21-1.html") Детальніше
                                            img.img-responsive(src="img/prod_cat__img1.png")
                                        div.product-description
                                            div.product-label
                                                div.product-name
                                                    h1 МПК 21-1
                                                    p (Стартер)
                                            div.product-option
                                                div.product-size
                                                    p.price від 13.75 грн/кг
                                div.col-md-4
                                    div.product-container
                                        div.product-image
                                            span.hover-link
                                            a.product-link(href="product_catalog__detail_mpk22-1.html") Детальніше
                                            img.img-responsive(src="img/prod_cat__img1.png")
                                        div.product-description
                                            div.product-label
                                                div.product-name
                                                    h1 МПК 22-1
                                                    p (Гровер)
                                            div.product-option
                                                div.product-size
                                                    p.price від 12.00 грн/кг
                        div.row_elem_1
                            a(name="quail")
                            h1 Для перепелів
                            div.row_elem_1_link
                                div.col-md-4
                                    div.product-container
                                        div.product-image
                                            span.hover-link
                                            a.product-link(href="product_catalog__detail_mpk1-24.html") Детальніше
                                            img.img-responsive(src="img/prod_cat__img1.png")
                                        div.product-description
                                            div.product-label
                                                div.product-name
                                                    h1 МПК 1-24
                                                    p (Несучка)
                                            div.product-option
                                                div.product-size
                                                    p.price від 13.25 грн/кг
                        div.row_elem_1
                            a(name="rabbit")
                            h1 Для кролів
                            div.row_elem_1_link
                                div.col-md-4
                                    div.product-container
                                        div.product-image
                                            span.hover-link
                                            a.product-link(href="product_catalog__detail_mpk92-1.html") Детальніше
                                            img.img-responsive(src="img/prod_cat__img1.png")
                                        div.product-description
                                            div.product-label
                                                div.product-name
                                                    h1 МПК 92-1
                                                    p (Гровер)
                                            div.product-option
                                                div.product-size
                                                    p.price від 13.50 грн/кг
                        div.row_elem_1
                            a(name="pig")
                            h1 Для свиней
                            div.row_elem_1_link
                                div.col-md-4
                                    div.product-container
                                        div.product-image
                                            span.hover-link
                                            a.product-link(href="product_catalog__detail_mpk51-1.html") Детальніше
                                            img.img-responsive(src="img/prod_cat__img1.png")
                                        div.product-description
                                            div.product-label
                                                div.product-name
                                                    h1 МПК 51-1
                                                    p (Стартер)
                                            div.product-option
                                                div.product-size
                                                    p.price від 13.50 грн/кг
                                div.col-md-4
                                    div.product-container
                                        div.product-image
                                            span.hover-link
                                            a.product-link(href="product_catalog__detail_mpk55-11.html") Детальніше
                                            img.img-responsive(src="img/prod_cat__img1.png")
                                        div.product-description
                                            div.product-label
                                                div.product-name
                                                    h1 МПК 55-11
                                                    p (Гровер)
                                            div.product-option
                                                div.product-size
                                                    p.price від 11.25 грн/кг
                        div.row_elem_1
                            a(name='concentrates')
                            h1 Концентрати
                            div.row_elem_1_link
                                div.col-md-4
                                    div.product-container
                                        div.product-image
                                            span.hover-link
                                            a.product-link(href="product_catalog__detail_mkpu.html") Детальніше
                                            img.img-responsive(src="img/prod_cat__img1.png")
                                        div.product-description
                                            div.product-label
                                                div.product-name
                                                    h1 МКПУ
                                                    p Універсальний для птиці
                                            div.product-option
                                                div.product-size
                                                    p.price від 38.25 грн/кг
                                div.col-md-4
                                    div.product-container
                                        div.product-image
                                            span.hover-link
                                            a.product-link(href="product_catalog__detail_mksu.html") Детальніше
                                            img.img-responsive(src="img/prod_cat__img1.png")
                                        div.product-description
                                            div.product-label
                                                div.product-name
                                                    h1 МКСУ
                                                    p Універсальний для свиней
                                            div.product-option
                                                div.product-size
                                                    p.price від 31.50 грн/кг
                    //div.prod_cat__section_3_nav_buttons
                    //    a.prod_cat__section_3_nav_button1(href="#")
                    //        div.prod_cat__section_3_nav_button1_inner1
                    //    a.prod_cat__section_3_nav_button1(href="#") 1
                    //    a.prod_cat__section_3_nav_button1(href="#") 2
                    //    a.prod_cat__section_3_nav_button1(href="#") 3
                    //    a.prod_cat__section_3_nav_button1(href="#") ...
                    //    a.prod_cat__section_3_nav_button1(href="#")
                    //        div.prod_cat__section_3_nav_button1_inner2
            include ../includes/_catalog
            //section.prod_cat__section_1
            //    div.prod_cat__section_1_wrapper.prod_cat__section_4_wrapper
            //        div.prod_cat__section_1_item1.prod_cat__section_4
            //            p самолечение может быть вредным для вашого здоровья
            //    img.about_us__section_1_img(src="img/about_us__img1.png")

        include ../includes/_footer
        include ../includes/_scripts