doctype html
html(lang="en")
    include ../includes/_head

    body.home
        include ../includes/_header
        main.main_content

            section.prod_cat__section_1
                div.container
                    div.prod_cat__section_1_wrapper
                        div.prod_cat__section_1_item2
                            h1 для свиней
                img.about_us__section_1_img(src="img/about_us__img1.png")
            section.prod_cat__section_2.block
                div.container
                    div.prod_cat__section_2_wrapper
                        div.prod_cat__section_2_block
                            div.prod_cat__section_2_item1
                                nav#prod_cat__section_2_item1_nav
                                    ul
                                        li.prod_cat__section_2_item1_nav_list
                                            a(href="#") Вся продукція
                                            ul
                                                li
                                                    a(href="#") Для бройлерів (та інших м'ясних видів птиці)
                                                    ul
                                                        li
                                                            a(href="#") Стартер
                                                            ul
                                                                li
                                                                    a(href="product_catalog__detail_mpk5-4.html") МПК 5-4
                                                                //li
                                                                //    a(href="#") Sub Deep 1
                                                                //li
                                                                //    a(href="#") Sub Deep 1
                                                                //li
                                                                //    a(href="#") Sub Deep 1
                                                        li
                                                            a(href="#") Гровер
                                                            ul
                                                                li
                                                                    a(href="product_catalog__detail_mpk6-6.html") МПК 6-6
                                                li
                                                    a(href="#") Для курей-несучок
                                                    ul
                                                        li
                                                            a(href="#") Стартер
                                                            ul
                                                                li
                                                                    a(href="product_catalog__detail_mpk2-6.html") МПК 2-6
                                                        li
                                                            a(href="#") Гровер
                                                            ul
                                                                li
                                                                    a(href="product_catalog__detail_mpk3-4.html") МПК 3-4
                                                        li
                                                            a(href="#") Несучка
                                                            ul
                                                                li
                                                                    a(href="product_catalog__detail_mpk1-18.html") МПК 1-18
                                                li
                                                    a(href="#") Для качок та гусей
                                                    ul
                                                        li
                                                            a(href="#") Стартер
                                                            ul
                                                                li
                                                                    a(href="product_catalog__detail_mpk21-1.html") МПК 21-1
                                                        li
                                                            a(href="#") Гровер
                                                            ul
                                                                li
                                                                    a(href="product_catalog__detail_mpk22-1.html") МПК 22-1
                                                li
                                                    a(href="#") Для перепелів
                                                    ul
                                                        li
                                                            a(href="#") Несучка
                                                            ul
                                                                li
                                                                    a(href="product_catalog__detail_mpk1-24.html") МПК 1-24
                                                li
                                                    a(href="#") Для кролів
                                                    ul
                                                        li
                                                            a(href="#") Гровер
                                                            ul
                                                                li
                                                                    a(href="product_catalog__detail_mpk92-1.html") МПК 92-1
                                                li
                                                    a(href="#") Для свиней
                                                    ul
                                                        li
                                                            a(href="#") Стартер
                                                            ul
                                                                li
                                                                    a(href="product_catalog__detail_mpk51-1.html") МПК 51-1
                                                        li
                                                            a(href="#") Гровер
                                                            ul
                                                                li
                                                                    a(href="product_catalog__detail_mpk55-11.html") МПК 55-11
                                                li
                                                    a(href="#") Концентрати
                                                    ul
                                                        li
                                                            a(href="#") Універсальний для птиці
                                                            ul
                                                                li
                                                                    a(href="product_catalog__detail_mkpu.html") МКПУ 10%
                                                            li
                                                                a(href="#") Універсальний для свиней
                                                                ul
                                                                    li
                                                                        a(href="product_catalog__detail_mksu.html") МКСУ 10%
                                //        li.prod_cat__section_2_item1_nav_list
                                //            a(href="#") По системе использования
                                //            ul
                                //                li
                                //                    a(href="#") Педиатрия
                                //                li
                                //                    a(href="#") Sub Menu 2
                                //                li
                                //                    a(href="#") Sub Menu 3
                                //        li.prod_cat__section_2_item1_nav_list
                                //            a(href="#") По действию
                                //            ul
                                //                li
                                //                    a(href="#") Sub Menu 1
                                //                li
                                //                    a(href="#") Sub Menu 2
                                //                li
                                //                    a(href="#") Sub Menu 3
                                //    a.prod_cat__section_2_item1_nav_a(href="pharma_watch.html") ФАРМАКОНАДЗОР
                                //nav#prod_cat__section_2_item1_nav2
                                //    ul
                                //        li.prod_cat__section_2_item1_nav_list
                                //            a(href="#") Педиатрия
            section.prod_cat__det_section_2
                div.container
                    div.prod_cat__det_section_2_wrapper
                        div.prod_cat__det_section_2_item1
                            img(src="img/prod_cat__img1.png")
                        div.prod_cat__det_section_2_item2
                            h2 МПК 55-11 (Гровер)
                            div.prod_cat__det_section_2_item2_block
                                h4 Опис:
                                p При застосуванні рекомендованої денної норми комбікорм "Мультілайф" забезпечує 100% денну потребу птиці в поживних речовинах, амінокислотах та мінералах
                            div.prod_cat__det_section_2_item2_block
                                h4 Склад:
                                p Пшениця, ячмінь, горох, макуха соєва, шрот соняшниковий, рибне борошно, дріжджі кормові, олія соєва, молоко сухе, цукор, ензим, кормовий фосфат, вапняк, сіль кухонна, вітамінно-мінеральна суміш, інгібітор цвілі, антиоксидант, ароматизатор.
                            div.prod_cat__det_section_2_item2_block
                                h4 Інструкція по застосуванню:
                                div.prod_cat__det_section_2_item2_block_table
                                    div.prod_cat__det_section_2_item2_block_table_link
                                        h4 Марка комбікорму
                                    div.prod_cat__det_section_2_item2_block_table_link
                                        h4 Вік тварин, днів
                                    div.prod_cat__det_section_2_item2_block_table_link
                                        h4 Середня денна норма комбікорму, грам
                                    div.prod_cat__det_section_2_item2_block_table_link
                                        h4 МПК 55-11
                                    div.prod_cat__det_section_2_item2_block_table_link
                                        //p 61-120
                                    div.prod_cat__det_section_2_item2_block_table_link
                                        //p 850-1950
                                    //div.prod_cat__det_section_2_item2_block_table_link
                                    //    h4 ПК 5-4
                                    //div.prod_cat__det_section_2_item2_block_table_link
                                    //    p 11-20
                                    //div.prod_cat__det_section_2_item2_block_table_link
                                    //    p 60-100
                                    //div.prod_cat__det_section_2_item2_block_table_link
                                    //    h4 ПК 5-4
                                    //div.prod_cat__det_section_2_item2_block_table_link
                                    //    p 21-30
                                    //div.prod_cat__det_section_2_item2_block_table_link
                                    //    p 100-120
                                    //div.prod_cat__det_section_2_item2_block_table_link
                                    //    h4 ПК 6-4
                                    //div.prod_cat__det_section_2_item2_block_table_link
                                    //    p 31-45
                                    //div.prod_cat__det_section_2_item2_block_table_link
                                    //    p 120-150
                            div.prod_cat__det_section_2_item2_block
                                h4 Показники якості:
                                div.prod_cat__det_section_2_item2_block_table_2
                                    div.prod_cat__det_section_2_item2_block_table_2_elem
                                        div.prod_cat__det_section_2_item2_block_table_link
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            h4 МПК 55-11
                                        //div.prod_cat__det_section_2_item2_block_table_link
                                        //    h4 ПК
                                        //    p.prod_cat__det_section_2_item2_block_table_link_text 5-4
                                        //div.prod_cat__det_section_2_item2_block_table_link2
                                        //    h4 ПК
                                        //    p.prod_cat__det_section_2_item2_block_table_link2_text 6-4
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            h4 Обмінна енергія, ккал/кг
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            p 3 390
                                        //div.prod_cat__det_section_2_item2_block_table_link
                                        //    p 320
                                        //div.prod_cat__det_section_2_item2_block_table_link2
                                        //    p 325
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            h4 Сирий протеїн, %
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            p 16.5
                                        //div.prod_cat__det_section_2_item2_block_table_link
                                        //    p 21.0
                                        //div.prod_cat__det_section_2_item2_block_table_link2
                                        //    p 19.0
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            h4 Лізин, %
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            p 1.10
                                        //div.prod_cat__det_section_2_item2_block_table_link
                                        //    p 6.9
                                        //div.prod_cat__det_section_2_item2_block_table_link2
                                        //    p 7.7
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            h4 Метіонін, %
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            p 0.40
                                        //div.prod_cat__det_section_2_item2_block_table_link
                                        //    p 3.8
                                        //div.prod_cat__det_section_2_item2_block_table_link2
                                        //    p 3.9
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            h4 Метіонін + Цистин, %
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            p 0.70
                                        //div.prod_cat__det_section_2_item2_block_table_link
                                        //    p 0.9
                                        //div.prod_cat__det_section_2_item2_block_table_link2
                                        //    p 0.9
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            h4 Треонін, %
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            p 0.75
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            h4 Кальцій, %
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            p 0.65
                                    div.prod_cat__det_section_2_item2_block_table_2_elem2
                                        div.prod_cat__det_section_2_item2_block_table_link
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            h4 МПК 55-11
                                        //div.prod_cat__det_section_2_item2_block_table_link
                                        //    h4 ПК
                                        //    p.prod_cat__det_section_2_item2_block_table_link_text 5-4
                                        //div.prod_cat__det_section_2_item2_block_table_link
                                        //    h4 ПК
                                        //    p.prod_cat__det_section_2_item2_block_table_link_text 6-4
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            h4 Доступний фосфор, %
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            p 0.30
                                        //div.prod_cat__det_section_2_item2_block_table_link
                                        //    p 0.2
                                        //div.prod_cat__det_section_2_item2_block_table_link
                                        //    p 0.2
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            h4 Натрій, %
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            p 0.21
                                        //div.prod_cat__det_section_2_item2_block_table_link
                                        //    p 1.15
                                        //div.prod_cat__det_section_2_item2_block_table_link
                                        //    p 1.10
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            h4 Хлор, %
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            p 0.35
                                        //div.prod_cat__det_section_2_item2_block_table_link
                                        //    p 0.45
                                        //div.prod_cat__det_section_2_item2_block_table_link
                                        //    p 0.40
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            h4 Вітамін А, МО
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            p 15 000
                                        //div.prod_cat__det_section_2_item2_block_table_link
                                        //    p 0.85
                                        //div.prod_cat__det_section_2_item2_block_table_link
                                        //    p 0.80
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            h4 Вітамін D3, МО
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            p 2 000
                                        //div.prod_cat__det_section_2_item2_block_table_link
                                        //    p 0.28
                                        //div.prod_cat__det_section_2_item2_block_table_link
                                        //    p 0.26
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            h4 Вітамін Е, мг/кг
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            p 75
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            h4 Кокцидіостатик
                                        div.prod_cat__det_section_2_item2_block_table_link
                                            p не введено
                            div.prod_cat__det_section_2_item2_block
                                h5 Для детальної інформації:
                                button.button2 Сертифікат якості
                                    img(src="img/prod_cat__detail_pdf-file.png")
        include ../includes/_catalog
        include ../includes/_footer
        include ../includes/_scripts
